<ion-view view-title="Calculadora de Economia">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Preencha as informações abaixo:
      </div>
      <label class="item item-input">

        <input  placeholder="Preço do GNV: R$" id="vlr" ng-model="parametros.precoGNV"
        type="text" ui-money-mask
              value="{{parametros.precoGNV | currency}}">
      </label>
      <div class="item item-divider">
        Consumo Médio:
      </div>
      <label class="item item-input">
        <span class="input-label">GNV Km/m3</span>
        <input type="number"  ng-model="parametros.consumoMedioGNV"
        style="text-decoration: underline;"
            >
      </label>
      <label class="item item-input">
        <span class="input-label">Gasolina Km/l</span>
        <input type="number"  ng-model="parametros.consumoMedioGasolina"
        style="text-decoration: underline;"
              >
      </label>
      <label class="item item-input">
        <span class="input-label">Etanol Km/l</span>
        <input type="number"  ng-model="parametros.consumoMedioEtanol"
        style="text-decoration: underline;"
              >
      </label>
      <label>
        <button class="button button-block button-positive" ng-click="calcularEconomia();">Calcular</button>
      </label>
      <div ng-show="parametros.mostrarResultado">
        <div class="item item-divider">
          Resultado:
        </div>
        <label class="item item-input">
          <span class="input-label">Se o GNV custa:</span>
          <span>{{parametros.precoGNV | currency }}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Só vale etanol se:</span>
          <span>{{parametros.resultadoEtanol | currency }}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Só vale gasolina se:</span>
          <span>{{parametros.resultadoGasolina | currency }}</span>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
