<ion-view class="scgas-ion-view">
  <ion-nav-bar class="scgas-ion-header-bar">
    <ion-nav-back-button class="button-clear" style="color:black;display:inline-flex;">
      <i class="ion-arrow-left-c" style="color:white;"></i>
      <p class="buscar-postos-title">Calculadora de Economia</p>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card calculators-detail-card">
      <div class="item item-divider">
        Preencha as informações abaixo:
      </div>
      <label class="item item-input">

        <input  placeholder="Preço do GNV: R$" id="vlr" ng-model="parametros.precoGNV"
        type="tel" ui-number-mask="3"
              value="{{parametros.precoGNV | currency}}">
      </label>
      <div class="item item-divider">
        Consumo Médio:
      </div>
      <label class="item item-input">
        <span class="input-label">GNV Km/m3</span>
        <input type="tel" ui-number-mask="3"  ng-model="parametros.consumoMedioGNV"
        style="text-decoration: underline;"
            >
      </label>
      <label class="item item-input">
        <span class="input-label">Gasolina Km/l</span>
        <input type="tel" ui-number-mask="3"  ng-model="parametros.consumoMedioGasolina"
        style="text-decoration: underline;"
              >
      </label>
      <label class="item item-input">
        <span class="input-label">Etanol Km/l</span>
        <input type="tel" ui-number-mask="3"  ng-model="parametros.consumoMedioEtanol"
        style="text-decoration: underline;"
              >
      </label>
      <div class="row">
        <button class="button button-block gas-station-navigate-to" ng-click="calcularEconomia();">Calcular</button>
      </div>
      <div ng-show="parametros.mostrarResultado">
        <div class="item item-divider">
          Resultado:
        </div>
        <label class="item item-input">
          <span ng-class="{'bold': bold,resultado-ri-small}">Se o GNV custa:</span>
          <span>{{parametros.precoGNV | currency }}</span>
        </label>
        <label class="item-input">
          <span ng-class="{'bold': bold,resultado-ri-small}">
            Só vale usar Etanol se o litro for menor que {{parametros.resultadoEtanol | currency }}</span>

        </label>
        <label class="item-input">
          <span ng-class="{'bold': bold,resultado-ri-small}">Só vale usar Gasolina se o litro for menor
            que {{parametros.resultadoGasolina | currency }}</span>

        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
