<ion-view view-title="Detalhe notícia">
    <ion-content>
    </ion-content>
        <ion-view>
           <ion-content class="has-header" >
            <ion-list>
              <div class="card">
               <div class="row" >
                  <div class="col col-55" style="text-align: left">
                    <h6>{{objNoticia.titulo}}</h6>
                    <h6>{{objNoticia.dataCadastro}}</h6>
                    <h6>{{objNoticia.textoNoticia}}</h6>
                  </div>
                </div>
                </div>
            </ion-list>
           </ion-content>
         </ion-view>

</ion-view>
