<ion-view class="scgas-ion-view">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button class="button-clear" style="color:black;display:inline-flex;">
      <i class="ion-arrow-left-c" style="color:white;"></i>
      <p class="buscar-postos-title">Buscar Postos</p>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content style="top:0px;">
    <ion-tabs class="tabs-striped tabs-icon-top" >
      <ion-tab title="Mapa" icon-on="ion-ios-location" icon-off="ion-ios-location-outline"
        on-select="alteraTab();">
        <ion-view class="scgas-ion-view">
          <ion-content class="has-header" >
            <div class="row" ng-show="habilitarPesquisaEnd">
              <div class="col col-80">
                <label class="item item-input"><input type="text" id="origem" placeholder="Escolher a origem" ng-model="rota.origem.nome"></label>
                <label class="item item-input"><input type="text" id="destino" placeholder="Escolher o destino" ng-model="rota.destino.nome"></label>
              </div>
              <div class="col col-20">
                <button class="button button-icon" style="color:#35FFAB;margin-left:auto;margin-right:auto;display:block;"
                  ng-click="tracarRota();">
                  <i class="icon ion-android-search"></i>
                </button>
                <button class="button button-icon" style="color:#35FFAB;margin-left:auto;margin-right:auto;display:block;"
                  ng-click="limparRota();">
                  <i class="icon ion-minus-circled"></i>
                </button>
              </div>
            </div>
            <div id="map" data-tap-disabled="true"></div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab title="Lista" icon-on="ion-ios-list" icon-off="ion-ios-list-outline"
        on-select="alteraTab();">
        <ion-view class="scgas-ion-view">
           <ion-content class="has-header" >
            <ion-list>
              <div class="card">
                <div class="gas-station-card card" ng-repeat="posto in arrPostos"
                     ng-click="carregaDetalhePosto(posto);" ng-show="posto.mostrar">
                     <div class="row">
                       <div class="col col-30">
                         <div class="row">
                            <h4 style="color:dimgrey;margin:0px;font-size:large;">R$</h4>
                         </div>
                         <div class="row">
                           <h1 style="color:dimgrey;margin:0px;font-size:large;">{{posto.precoFormatado}}</h1>
                         </div>
                         <div class="row">
                          <h4 style="color:dimgrey;margin:0px;font-size:x-small;">
                            {{posto.ultimaAtualizacao ? posto.ultimaAtualizacao : 'Sem Atualização'}}</h3>
                         </div>
                       </div>
                       <div class="col col-45">
                         <div class="row">
                           <h6 style="color:dimgrey;font-weight:400;">{{posto.endereco}}</h6>
                         </div>
                         <div class="row">
                           <h6 style="color:dimgrey;font-weight:400;">{{posto.bandeiraPosto.nome}}</h6>
                         </div>
                       </div>
                       <div class="col col-25">
                        <div class="row">
                          <div class="gas-station-icon">
                          </div>
                        </div>
                        <div class="row">
                          <h3 style="margin:auto;color:dimgrey;font-size:medium;margin-bottom:10px;">
                            {{posto.distanciaFormatada}}
                          </h3>
                          <h6 style="color:dimgrey;font-size:inherit;">
                            km
                          </h6>
                        </div>
                       </div>
                    </div>
                </div>
              </div>
            </ion-list>

            <ion-infinite-scroll
              ng-if="moreDataCanBeLoaded()"
              icon="ion-loading-c"
              on-infinite="loadMore()"
              distance="1%">
            </ion-infinite-scroll>
           </ion-content>
         </ion-view>
      </ion-tab>
      </ion-tabs>
      <div class="tabs tabs-icon-top">
        <a class="tab-item">
          <i class="icon filter-scgas-icon" ng-click="filtrarPostosBandeira();"></i>
          Filtro
        </a>
        <a class="tab-item" ng-show="habilitarBotaoRota">
          <i class="icon route-scgas-icon" ng-click="habilitarPesquisaEndereco();"></i>
          Rota
        </a>
        <a class="tab-item" ng-show="habilitarBotaoOrdenar">
          <i class="icon sort-scgas-icon" ng-click="ordenarListaPostos();"></i>
          Ordenar Postos
        </a>
        <a class="tab-item">
          <i class="icon update-scgas-icon" ng-click="atualizarInformacoesPostos();"></i>
          Atualizar
        </a>
        <a class="tab-item" ng-show="habilitarBotaoRota">
          <i class="icon center-scgas-icon" ng-click="centralizarMapaPosicaoUsuario();"></i>
          Centralizar
        </a>
      </div>
  </ion-content>
</ion-view>
