<ion-view view-title="Buscar postos" >
  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Mapa" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" on-select="alteraTab();">
      <ion-view>
         <ion-content class="has-header" >
           <label class="item item-input" ng-show="habilitarPesquisaEnd"><input type="text" id="origem" placeholder="Escolher a origem" ng-model="rota.origem.nome"></label>
           <label class="item item-input" ng-show="habilitarPesquisaEnd"><input type="text" id="destino" placeholder="Escolher o destino" ng-model="rota.destino.nome"></label>
           <div id="map" data-tap-disabled="true"></div>
         </ion-content>
       </ion-view>
    </ion-tab>

    <ion-tab title="Lista" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" on-select="alteraTab();">
      <ion-view>
         <ion-content class="has-header" >
          <ion-list>
            <div class="card" ng-repeat="posto in arrPostos" ng-click="detalhesPosto(posto);" ng-show="posto.mostrar">
              <div class="row" >
                <div class="col col-25" style="text-align: center">
                  <h3>{{posto.preco ? posto.preco : '0.000'}}</h3>
                  {{posto.ultimaAtualizacao ? posto.ultimaAtualizacao : 'Sem atualizações'}}
                </div>
                <div class="col col-55" style="text-align: center">
                  <h6>{{posto.endereco}}</h6>
                  <h6>{{posto.bandeiraPosto.nome}}</h6>
                </div>
                <div class="col col-20" style="text-align: center">
                  <img src="img/map-icon.png" width="24px" height="24px" ng-click="carregaMapa();">
                  <h6>{{posto.distanciaPosto}}</h6>
                </div>
              </div>
            </div>
          </ion-list>

          <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded()"
            icon="ion-loading-c"
            on-infinite="loadMore()"
            distance="1%">
          </ion-infinite-scroll>
         </ion-content>
       </ion-view>
    </ion-tab>
  </ion-tabs>
  <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-home" ng-click="filtrarPostosBandeira();"></i>
      Filtrar
    </a>
    <a class="tab-item" ng-show="habilitarBotaoRota">
      <i class="icon ion-star" ng-click="habilitarPesquisaEndereco();"></i>
      Rota
    </a>
    <a class="tab-item" ng-show="habilitarBotaoOrdenar">
      <i class="icon ion-star" ng-click="ordenarListaPostos();"></i>
      Ordenar Postos
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a" ng-click="atualizarInformacoesPostos();"></i>
      Atualizar
    </a>
  </div>
</ion-view>
