<ion-view view-title="APP GNV" ng-init="init();">
  <ion-content>
    <div class="list card">
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Buscar postos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Calculadora de economia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Dicas e novidades</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Instaladores autorizados</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Inspeção veicular</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Retorno de investimento</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/img-android.jpg">
              <div class="caption">
                <p>Licenciamento veicular</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<ion-item href="#/app/new_account">
	  <button class="button button-block button-success">Cadastre-se</button>
     <button onclick="window.plugins.toast.show('Hello there!', 'long', 'center', function(a){console.log('toast success: ' + a)}, function(b){alert('toast error: ' + b)})">Toast show long center</button>
	</ion-item>
  </ion-content>
</ion-view>
