<ion-view view-title="APP GNV" ng-init="init();">
  <ion-content style="background-color: #3E50B4;">
    <div class="list card" >
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_map_black_24dp.png">
              <div class="caption">
                <p>Buscar postos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_trending_down_black_24dp.png">
              <div class="caption">
                <p>Calculadora de </br>economia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_monetization_on_black_24dp.png">
              <div class="caption">
                <p>Retorno de </br>investimento</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_directions_car_black_24dp.png">
              <div class="caption">
                <p>Instaladores</br> autorizados</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_build_black_24dp.png">
              <div class="caption">
                <p>Inspeção veicular</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_description_black_24dp.png">
              <div class="caption">
                <p>Licenciamento </br>veicular</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item">
            <div class="item-image">
              <img src="img/ic_fiber_new_black_24dp.png">
              <div class="caption">
                <p>Dicas e novidades</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
