<ion-view class="scgas-ion-view">
  <ion-nav-bar class="scgas-ion-header-bar">
    <ion-nav-back-button class="button-clear" style="color:black;display:inline-flex;">
      <i class="ion-arrow-left-c" style="color:white;"></i>
      <p class="buscar-postos-title">Resultado</p>
    </ion-nav-back-button>
    <img class="title header-image" style="float:right;height:35px;margin-right:10px;margin-top:5px;"
      src="../img/LOGO_3.png"></img>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="card calculators-detail-card">
      <div class="item item-divider">
        Tempo de Retorno:
      </div>
      <label class="item-input">
        <span class="input-label resultado-ri-small">Gasolina</span>
        <span  ng-class="{'bold': bold,resultado-ri-small}">
          {{parametros.trGasolina | number : 1}} meses
        </span>
      </label>
      <label class="item-input">
        <span class="input-label resultado-ri-small">Etanol</span>
        <span ng-class="{'bold': bold,resultado-ri-small}">
          {{parametros.trEtanol | number : 1}} meses
        </span>
      </label>
      <div class="item item-divider">
        Resultados de consumo, gasto e custo:
      </div>
      <div class="row header">
        <div class="col col-30 resultado-ri-small"></div>
        <div class="col resultado-ri-small">Gasolina</div>
        <div class="col resultado-ri-small">GNV</div>
        <div class="col resultado-ri-small">Etanol</div>
      </div>
      <div class="row">
        <div class="col col-30 resultado-ri-small">Consumo Mensal</div>
        <span  class="col resultado-ri-small">{{parametros.cmGasolina + " litros"}}</span>
        <span class="col resultado-ri-small">{{parametros.cmGNV + " m³"}}</span>
        <span class="col resultado-ri-small">{{parametros.cmEtanol + " litros"}}</span>
      </div>
      <div class="row">
        <div class="col col-30 resultado-ri-small">Gasto Mensal</div>
        <span class="col resultado-ri-small" >{{parametros.gmGasolina | currency }}</span>
        <span class="col resultado-ri-small" >{{parametros.gmGNV | currency }}</span>
        <span class="col resultado-ri-small" >{{parametros.gmEtanol | currency }}</span>
      </div>
      <div class="row">
        <div class="col col-30 resultado-ri-small">Custo/Km</div>
        <span class="col resultado-ri-small">{{parametros.cpkmGasolina | currency }}</span>
        <span class="col resultado-ri-small">{{parametros.cpkmGNV | currency }}</span>
        <span class="col resultado-ri-small">{{parametros.cpkmEtanol | currency }}</span>
      </div>
      <div class="item item-divider">
        Economia Mensal:
      </div>
      <label class="item-input">
        <span class="input-label resultado-ri-small">Gasolina</span>
        <span class="resultado-ri-small">
          {{parametros.emGasolina | currency }}
        </span>
      </label>
      <label class="item-input">
        <span class="input-label resultado-ri-small">Etanol</span>
        <span class="resultado-ri-small">
           {{parametros.emEtanol | currency }}
        </span>
      </label>
    </div>
  </ion-content>
</ion-view>
