<ion-view view-title="Retorno de Investimento">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Preços:
      </div>
      <div class="row">
          <label class="item item-input" >
            <span class="input-label">GNV</span>
            <input type="text" ng-model="parametros.precoGNV" width="50"
            style="text-decoration: underline;" id="precoGNC" ui-money-mask
            >
          </label>
        </div>
        <div class="row">
          <label class="item item-input" >
            <span class="input-label">Gasolina</span>
            <input type="text" ui-money-mask id="precoGasolina" ng-model="parametros.precoGasolina"
            style="text-decoration: underline;" width="50"
          >
          </label>
        </div>
        <div class="row">
          <label class="item item-input">
            <span class="input-label">Etanol</span>
            <input  type="text" ui-money-mask ng-model="parametros.precoEtanol"
            style="text-decoration: underline;" id="prcEtanol" width="40"
          >
            </label>
        </div>
        <div class="row">
          <div class="col">
            <label class="item item-input">
              <span class="input-label">Kit GNV</span>
              <input type="text" ui-money-mask ng-model="parametros.precoKitGNV"
              style="text-decoration: underline;" id="prcKitGnv" width="40" >
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <span class="input-label">Valor inspeção</span>
              <input type="text" ui-money-mask ng-model="parametros.valorInspecao"
              style="text-decoration: underline;" id="valorInspecao" width="40" >
            </label>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        Quilometros rodados por mês:
      </div>
      <label class="item item-input">
        <span class="input-label">Km/mês</span>
        <input type="text" ui-number-mask="2" ng-model="parametros.kmRodadoMes"
        style="text-decoration: underline;" id="kmMes"
        >
      </label>
      <div class="item item-divider">
        Consumo médio:
      </div>
      <label class="item item-input">
        <span class="input-label">GNV</span>
        <input type="text" ui-number-mask="2"  ng-model="parametros.consumoMedioGNV"
        style="text-decoration: underline;" id="csmMedioGnv"
        >
      </label>
      <label class="item item-input">
        <span class="input-label">Gasolina</span>
        <input type="text" ui-number-mask="2"  ng-model="parametros.consumoMedioGasolina"
        style="text-decoration: underline;" id="csmMedioGasolina"
        >
      </label>
      <label class="item item-input">
        <span class="input-label">Etanol</span>
        <input type="text" ui-number-mask="2" ng-model="parametros.consumoMedioEtanol"
        style="text-decoration: underline;" id="csmMedioEtanol"
        >
      </label>
      <label>
        <button class="button button-block button-positive" ng-click="calcularEconomia();">Calcular</button>
      </label>
    </div>
  </ion-content>
</ion-view>
