<ion-view view-title="Retorno de Investimento">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Preços:
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <span class="input-label">Gasolina</span>
            <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
            value="{{parametros.consumoMedioGNV | currency}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Etanol</span>
            <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
            value="{{parametros.consumoMedioGNV | currency}}">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label">GNV</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoGNV"
            value="{{parametros.precoGNV | currency}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Kit GNV</span>
            <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
                  value="{{parametros.consumoMedioGNV | currency}}">
          </label>
        </div>
      </div>
      <div class="item item-divider">
        Quilometros rodados por mês:
      </div>
      <label class="item item-input">
        <span class="input-label">Km/mês</span>
        <input type="number" placeholder="R$" ng-model="parametros.precoGNV"
        value="{{parametros.precoGNV | currency}}">
      </label>
      <div class="item item-divider">
        Consumo médio:
      </div>

          <label class="item item-input">
            <span class="input-label">GNV</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoGNV"
            value="{{parametros.precoGNV | currency}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Gasolina</span>
            <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
            value="{{parametros.consumoMedioGNV | currency}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Etanol</span>
            <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
            value="{{parametros.consumoMedioGNV | currency}}">
          </label>
      <label>
        <button class="button button-block button-positive" ng-click="calcularEconomia();">Calcular</button>
      </label>
      <div ng-show="parametros.mostrarResultado">
        <div class="item item-divider">
          Resultado:
        </div>
        <label class="item item-input">
          <span class="input-label">Se o GNV custa:</span>
          <span>{{parametros.precoGNV}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Só vale etanol se:</span>
          <span>{{parametros.resultadoEtanol}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Só vale gasolina se:</span>
          <span>{{parametros.resultadoGasolina}}</span>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
