<ion-view view-title="Retorno de Investimento">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Preços:
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <span class="input-label">GNV</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoGNV"
            value="{{parametros.precoGNV | currency:'R$ ':'R$ '}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Gasolina</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoGasolina"
            value="{{parametros.consumoMedioGNV | currency:'R$ '}}">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label">Etanol</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoEtanol"
            value="{{parametros.consumoMedioGNV | currency:'R$ '}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Kit GNV</span>
            <input type="number" placeholder="R$" ng-model="parametros.precoKitGNV"
                  value="{{parametros.consumoMedioGNV | currency:'R$ '}}">
          </label>
        </div>
      </div>
      <div class="item item-divider">
        Quilometros rodados por mês:
      </div>
      <label class="item item-input">
        <span class="input-label">Km/mês</span>
        <input type="number" placeholder="R$" ng-model="parametros.kmRodadoMes"
        value="{{parametros.precoGNV | currency:'R$ '}}">
      </label>
      <div class="item item-divider">
        Consumo médio:
      </div>
      <label class="item item-input">
        <span class="input-label">GNV</span>
        <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGNV"
        value="{{parametros.precoGNV | currency:'R$ '}}">
      </label>
      <label class="item item-input">
        <span class="input-label">Gasolina</span>
        <input type="number" placeholder="R$" ng-model="parametros.consumoMedioGasolina"
        value="{{parametros.consumoMedioGNV | currency:'R$ '}}">
      </label>
      <label class="item item-input">
        <span class="input-label">Etanol</span>
        <input type="number" placeholder="R$" ng-model="parametros.consumoMedioEtanol"
        value="{{parametros.consumoMedioGNV | currency:'R$ '}}">
      </label>
      <label>
        <button class="button button-block button-positive" ng-click="calcularEconomia();">Calcular</button>
      </label>
    </div>
  </ion-content>
</ion-view>
