<ion-view ng-init="init();" hide-nav-bar="true" class="scgas-ion-view">
  <ion-header-bar align-title="left" class="scgas-ion-header-bar">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon scgas-text-white"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <img class="title header-image" style="position: relative;height:35px;" src="img/LOGO_2.png"></img>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card list-card-menu-scgas" ng-class="true">
      <div class="row">
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="carregaMapa();" class="list-card-menu-img menu-img-buscar-posto">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Buscar postos</p>
          </div>
        </div>
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="carregaCalcEconomia();" class="list-card-menu-img menu-img-calculadora">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Calculadora de </br>economia</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="carregaRetornoInvestimento();" class="list-card-menu-img menu-img-retorno-invest">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Retorno de </br>investimento</p>
          </div>
        </div>
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="openInstaladoresCordovaWebView();" class="list-card-menu-img menu-img-instaladoras-aut">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Instaladores</br> autorizados</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="openInspecaoCordovaWebView();" class="list-card-menu-img menu-img-inpecao-veic">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Inspeção veicular</p>
          </div>
        </div>
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="openLicenciamentoCordovaWebView();" class="list-card-menu-img menu-img-licenciamento">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Licenciamento </br>veicular</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 list-card-menu-column">
          <div class="list-card-menu-div">
            <div ng-click="loadNews();" class="list-card-menu-img menu-img-dicas">
            </div>
          </div>
          <div class="caption list-card-menu-caption">
            <p>Dicas e novidades</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
