<ion-view class="scgas-ion-view">
  <ion-nav-bar class="scgas-ion-header-bar">
    <ion-nav-back-button class="button-clear" style="color:black;display:inline-flex;">
      <i class="ion-arrow-left-c" style="color:white;"></i>
      <p class="buscar-postos-title">Termos e Condições</p>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card termos-condicoes-detail-card">
      <span>
        <br/>Prezado usuário, seja bem vindo ao App Rota GNV da SCGÁS, um aplicativo

mobile social sem fins lucrativos que conecta você a rede de postos GNV no

Estado de Santa Catarina. Este acordo representa o contrato, como um todo,

entre você e o App Rota GNV, e dessa forma, visitando, tornando-se membro,

ou fazendo o download do nosso aplicativo, você concorda, sem restrições, em

aceitar os termos e condições de uso abaixo indicados, uma vez que as

disposições constantes do presente Termo de Uso vinculam o usuário do

aplicativo móvel Rota GNV, externam nossa política de privacidade na

divulgação de seu conteúdo e protege o software e a marca, de acordo com as

disposições das Leis Federais n. 9.609/98 e 9.279/96. 

<br/><br/>1.  Aceite dos termos

<br/><br/>Ao usar informações, ferramentas, recursos e funcionalidades do App Rota

GNV, você concorda com este acordo como “membro” (o que significa que

você se registrou e criou uma conta no aplicativo App Rota GNV). O termo

“Você” ou “Usuário” refere-se ao usuário cadastrado.

Caso não concorde com Todos os termos, não use este site e não faça

download do nosso aplicativo.

Por favor, revise todos os Termos com cuidado antes de utilizar nosso

aplicativo.

<br/><br/>2.  A Modificação dos termos

<br/><br/>O uso continuado do aplicativo após a mudança no Termo de uso será

considerado como uma aceitação do contrato. Se você não concordar ou não

estiver satisfeito com as mudanças no Termo de uso, você deverá cancelar seu

cadastro. Dessa forma, o usuário concorda que periodicamente deve checar as

eventuais modificações do Termo de Uso, disponibilizado na página web ou no

próprio aplicativo, e, ler as eventuais mensagens que o App Rota GNV lhe

mandar em relação ao Termo de Uso. 

<br/><br/>3.  A política de uso

<br/><br/>Não utilize indevidamente os nossos serviços, de modo que é apenas permitido

ao usuário do aplicativo valer-se do que lhe é disponibilizado e dentro das

condutas que não são vedadas pela Lei brasileira e/ou Internacional. Haverá a

possibilidade de suspensão ou cancelamento da prestação do serviço ao

usuário que descumprir nossos termos ou políticas ou se estivermos

investigando casos de suspeita de má conduta.

A concordância às condições deste termo de uso autoriza o App Rota GNV a

proceder com o envio de mensagens publicitárias ou administrativas.

Você é responsável por qualquer atividade que ocorra em sua conta e você

concorda que você não vai alienar, transferir, licenciar ou ceder a sua conta,

nome e dados de usuário, ou quaisquer direitos a outrem, com a exceção de

pessoas ou empresas que estão expressamente autorizadas a criar contas em

nome de seus empregadores ou clientes. Você também declara que todas as

informações que fornecer ao App Rota GNV são verdadeiras, exatas, atuais e

completas, sendo obrigação do usuário as atualizar para manter a veracidade e

exatidão das informações. 

<br/><br/>3.1 A conta no App Rota GNV

<br/><br/>A utilização do serviço está condicionada à realização do download do

aplicativo e ao registro eletrônico. O usuário deverá, portanto, criar a sua conta

e fornecer alguns dados pessoais, além de escolher uma senha de acesso. O

App Rota GNV poderá se utilizar de cadastros de terceiros para validar a

entrada do usuário.

Além disso, você não deve difamar, perseguir, intimidar, abusar, assediar,

ameaçar, personificar ou intimidar as pessoas ou entidades. Também não deve

postar informações particulares ou confidenciais através do Serviço, incluindo,

sem limitação, informações de cartão de crédito suas ou de qualquer outra

pessoa, números de identidade, números de telefone não públicos ou

endereços de e-mail não públicos.

Você não pode utilizar o Serviço para qualquer finalidade ilegal ou não

autorizada. Você concorda em cumprir todas as leis, regras e regulamentações

(por exemplo, internacional, federal, estadual e municipal), aplicáveis ​​ao seu

uso do Serviço e seu conteúdo, incluindo, mas não limitado às leis de direitos

autorais.

O registro e a utilização do Serviço são nulos em locais onde forem proibidos.

O Serviço não poderá ser utilizado em jurisdições onde for ilegal. O Serviço

não poderá ser utilizado em locais onde for legalmente proibido.

Você não deve modificar, adaptar ou alterar o Serviço ou, modificar, adaptar ou

alterar outro site, de modo a implicar falsamente que o usuário está associado

ou se encontra vinculado ao App Rota GNV.

Você não deve interferir ou interromper o Serviço ou os servidores ou redes

conectadas ao serviço, inclusive através da transmissão de qualquer worm, vírus, 

spyware, malware ou qualquer outro código de natureza  destrutiva ou perturbadora.

Você não pode injetar o conteúdo ou código, ou de outra forma alterar ou

interferir na forma como a página do Serviço é processada ou exibida no dispositivo

de um usuário, sob pena de responder pelos danos causados e pelas violações cometidas.

Você não deve criar contas no App Rota GNV através de meios não

autorizados, incluindo, mas não limitado a utilizar um dispositivo

automático, script, bot, spider, ou crawler.

Os usuários que não seguirem ou adequarem suas condutas a este Termo e

condições de uso do aplicativo poderão ter suas respectivas contas

desativadas unilateralmente e independentemente de prévia notificação pelos

administradores do aplicativo.  

<br/><br/>3.1.1 Cadastramento pelo Facebook e Google+.

<br/><br/>Para utilizar o App Rota GNV, o usuário poderá fazer um cadastro usando seu

login do Facebook ou do Google+. Isso indica que o usuário autoriza o App

Rota GNV a acessar informações particulares na conta do usuário do

Facebook. No ato da permissão que o App Rota GNV acesse a conta do

usuário no Facebook e no Google+, o usuário expressamente concorda e

permite que o aplicativo possa eventualmente compartilhar itens no perfil do

usuário no Facebook e no Google+ para ações de marketing ou divulgação via

mailing list (incluindo, sem limitação, nome, fotos, e também os nomes e fotos

dos amigos no Facebook e no Google+ que são amigos em comum com outros

usuários do aplicativo).  

<br/><br/>4.  A modificação do serviço prestado

<br/><br/>Preocupamo-nos com a constante melhoria na prestação dos nossos serviços.

Por isso, nossos desenvolvedores trabalham para oferecer ao usuário um

sistema mais seguro, interativo e atrativo ao usuário. Como consequência, isso

poderá resultar na inclusão ou remoção de funcionalidades no aplicativo ou a

criação de novos limites aos serviços, o que poderá modificar a forma de

interação do usuário. A esse respeito, em que pese não haver obrigação dos

desenvolvedores de avisar previamente os usuários, poderá haver o envio de

mensagens publicitárias ou anúncios nesse sentido.

Por tais razões, ocorrerão situações em que o Serviço poderá ser interrompido,

incluindo, sem limitação, para manutenção ou atualizações programadas, para

reparos de emergência, ou devido a falhas de ligações de telecomunicações

e/ou equipamentos. O App Rota GNV reserva ainda o direito de remover

qualquer Conteúdo do Serviço, por qualquer motivo, sem aviso prévio.

O App Rota GNV não é um serviço de backup e você concorda que não vai

contar com o Serviço para fins de backup ou armazenamento de conteúdo. Da

mesma forma, você também reconhece que pode estar sujeito a falhas de

segurança e que a apresentação de conteúdos ou outras informações podem

não ser seguras, em razão do acesso público de milhões de usuários. 

<br/><br/>5. Garantias e responsabilidades

<br/><br/>Este aplicativo é fornecido pelos detentores de seus direitos autorais e

colaboradores &quot;no estado em que se encontra&quot;, e eles não fornecem qualquer

garantia expressa ou implícita. Sob nenhuma circunstância os detentores dos

direitos autorais ou seus colaboradores se responsabilizam por danos diretos,

indiretos, emergentes, especiais, imprevistos ou multas causados, em qualquer

matéria de responsabilidade, seja contratual, objetiva ou civil (inclusive

negligência ou outras), que venham a decorrer de qualquer forma do uso deste

aplicativo, mesmo que advertida a possibilidade de tais danos.

<br/><br/>5.1. Outros Conteúdos

<br/><br/>As opiniões, declarações, ofertas ou outras informações ou conteúdos

disponibilizados por meio do aplicativo, mas não diretamente pelo App Rota

GNV, pertencem aos seus respectivos autores, e os usuários não devem

necessariamente confiar nesse conteúdo. Tais autores são os únicos

responsáveis pelo conteúdo descrito acima e o App Rota GNV não: (I) garante

exatidão, integridade ou utilidade de qualquer informação fornecida no site ou

por meio do Serviço, e nem (II) adota, aprova ou aceita responsabilidade pela

precisão ou confiabilidade de qualquer opinião, informação ou declarações

feitas por qualquer parte que não o App Rota GNV. Em nenhuma hipótese

poderá o App Rota GNV ser responsabilizado por qualquer perda ou dano

resultante de informação ou outro conteúdo postado no Site ou acessado por

meio do aplicativo ou transmitido entre usuários. 

<br/><br/>5.2. Indenização

<br/><br/>Na medida máxima permitida pela lei aplicável, cada usuário concorda em

indenizar, defender e isentar o App Rota GNV, seus administradores, diretores,

funcionários, agentes e terceiros, contra quaisquer reivindicações, causas de

pedir, dívidas, perdas, custos, responsabilidades e despesas (incluindo

honorários legais razoáveis).  

<br/><br/>6.  Suporte técnico

<br/><br/>Os suportes técnicos do aplicativo ocorrerão na medida em que eventuais

falhas no serviço forem detectadas pelos programadores do aplicativo. Haverá

o incentivo à utilização e detecção de problemas por parte dos usuários, por

meio de disponibilização de espaços específicos para sugestões, críticas e

elogios. A validade técnica para cada versão disponibilizada é por prazo

indeterminado 

<br/><br/>7.  Proteção à marca

<br/><br/>O nome Rota GNV e logotipo são marcas registradas e pertencente a SCGÁS,

e não podem ser copiadas, imitadas ou utilizadas, no todo ou em parte, sem a

permissão prévia por escrito da SCGÁS, exceto quando de acordo com

eventual estipulação contratual permissiva. Além disso, todos os cabeçalhos,

gráficos personalizados, ícones, scripts, programas, bancos de dados, redes e

arquivos são marcas comerciais do App Rota GNV, e não podem ser copiadas,

imitadas ou utilizadas, no todo ou em parte, sem permissão prévia. 

<br/><br/>8. Foro para dirimir controvérsias

<br/><br/>A competência para o conhecimento, processamento ou julgamento de

qualquer feito judicial, administrativo ou extra-judicial será o foro da comarca de

Florianópolis, em Santa Catarina, Brasil, renunciando a parte contrária a

qualquer outro, por mais privilegiado seja.

Última Atualização: 20/04/2017

 

<br/><br/><br/>O APP ROTA GNV, pela natureza dos serviços facilitados, recolhe e, em

alguns casos, revela informações sobre os usuários de seus serviços. Esta

Política de Privacidade descreve a informação que o App Rota GNV coleta

sobre seus usuários e visitantes e o que pode ser feito, com a finalidade de

demonstrar absoluta transparência quanto a este importante assunto. Ao se

cadastrar e/ou navegar pelo App Rota GNV ou ao usar o aplicativo, o usuário

e/ou o visitante consente tacitamente com a utilização de sua informação

pessoal de acordo com as políticas a seguir.

Com estas políticas, o App Rota GNV quer demonstrar que a privacidade da

informação dos usuários é muito importante e, por isso, toma precauções e

cautelas para resguardar toda informação, utilizando os mecanismos de

segurança em informática mais completos e eficazes.

Este documento é parte integrante dos Termos e Condições de Uso do App

Rota GNV. Mediante a aceitação dos mesmos no momento do cadastro ou do

uso, conforme o caso, o usuário aceita as políticas aqui contidas.
      </span>
    </div>
  </ion-content>
</ion-view>
