<ion-view view-title="Login" hide-back-button="true">
  <ion-content class ="card">
      <div class="item item-image" >
			<img src="img/logo_scgas.png" class="full-image item">
		</div>

      <div class="item" data-ng-init="init()">
		      <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="user.email">
          </label>
          <label class=" item item-input">
            <input type="password" placeholder="Senha" ng-model="user.senha">
          </label>
          <label >
            <button class="button button-block button-balanced" ng-click="submitLogin();">Entrar</button>
          </label>
      </div>

      <div class="item">
        <div class="button-bar">
          <a class="button button-assertive" ng-click="doGoogleLogin();">Google+</a>
          <a class="button button-positive" ng-click="doFacebookLogin();">Facebook</a>
        </div>

        <a class="button button-block button-assertive" ng-click="cadastrarUsuario();">Cadastre-se agora</a>
        <a class="button button-block button-assertive" ng-click="recuperarSenha();">Recuperar senha</a>
      </div>
  </ion-content>
</ion-view>
