<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="submit(user)" data-ng-init="init()">
      <div class="list">
		<label class="item item-input">
          <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model="user.senha">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Entrar</button>

          <div class="button-bar">
            <a class="button button-assertive" ng-click="doGoogleLogin();">Google+</a>
            <a class="button button-positive" ng-click="doFacebookLogin();">Facebook</a>
          </div>

          <button class="button button-block button-assertive" ng-click="cadastrarUsuario();">Cadastre-se agora</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
