/* Empty. Add your own CSS if you like */
.scgas-nav-bar{
  height: 50px !important;
}


.scgas-center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
    }
