/* Empty. Add your own CSS if you like */
.scgas-center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
    }

input[type=number] {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=number]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
} 

.rodape {
	position:absolute;
	bottom:0;
	width:100%;
}


/* CSS para novo layout */

 /* Menu principal */
.scgas-ion-view {
  background-color: #083578;
  background-image: url(../img/MAPA.png);
  background-size:100%;
}
.scgas-ion-header-bar {
  background-color:#082045;
  border-color:#082045;
  opacity:0.6;
}
.scgas-text-white {
  color: white;
}
.list-card-menu-scgas {
  border-radius: 20px;
  background-color: #082045;
  opacity:0.6;
}
.list-card-menu-column {
  background-color:#082045;
}
.list-card-menu-div {
  display:flex;
  justify-content:center;
  margin:0 auto;
  border-radius:50%;
  border:3px solid #35FFAB;
  width:100px;
  height:100px;
}
.list-card-menu-img {
  align-self:center;
  background-color:#35FFAB;
  width:60px;
  height:60px;
}
.menu-img-buscar-posto {
  -webkit-mask-box-image:url(../img/ICONE_02_BUSCAR_POSTOS.png);
}
.menu-img-calculadora {
  -webkit-mask-box-image:url(../img/ICONE_02_CALCULADORA.png);
}
.menu-img-retorno-invest {
  -webkit-mask-box-image:url(../img/ICONE_02_RETORNO_INVESTIMENTO.png);
}
.menu-img-instaladoras-aut {
  -webkit-mask-box-image:url(../img/ICONE_02_INSTALADORAS_AUTORIZADAS.png);
}
.menu-img-inpecao-veic {
  -webkit-mask-box-image:url(../img/ICONE_02_INSPECAO_VEICULAR.png);
}
.menu-img-licenciamento {
  -webkit-mask-box-image:url(../img/ICONE_02_LICENCIAMENTO.png);
}
.menu-img-dicas {
  -webkit-mask-box-image:url(../img/ICONE_02_DICAS_E_NOVIDADES.png);
}
.list-card-menu-caption {
  -webkit-text-fill-color:white;
  text-align:center;
}

/* Menu lateral */
.scgas-nav-bar{
  background-color:#35FFAB;
  border-color:#35FFAB;
}
.side-menu-item {
  width:40px;
  height:30px;
  margin-right:10px;
  display: inline-block;
  vertical-align: middle;
}
.side-menu-buscar-postos {
  -webkit-mask-box-image:url(../img/ICONE_03_HOME.png);
  background-color:#35FFAB;
}
.side-menu-sair {
  -webkit-mask-box-image: url(../img/ICONE_03_EXIT.png);
  background-color:red;
}
.side-menu-fale-conosco {
  -webkit-mask-box-image: url(../img/ICONE_03_SPEAK.png);
  background-color:blue;
}
.text{
  display: inline-block;
  vertical-align: middle;
}
/* Login */
.list-card-login-scgas {
  border-radius: 20px;
  background-color:white;
  width:90%;
  height:140%;
  margin: auto;
}
.login-title {
  color: #35FFAB;
  padding:10px 0 0 30px;
}
.login-row-top {
  width:100%;
  height:25%;
}
.login-row-bottom {
  width:100%;
  height:85%;
}
.logo-social-media {
  width:15%;
  height:5%;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
.center-align {
  width:100%;
  text-align:center;
}
.text-align {
  width:100%;
  text-align:center;
  padding-top:10px;
  margin:0px;
}
.signin-text {
  background-color:#082045;
  color:#35FFAB;
  border-radius:5px;
}
.join-text{
  border:2px solid;
  border-color:#082045;
  border-radius:5px;
}
.forgot-pass-align{
  text-align:right;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}
.hide-header-bar {
  display:none;
}
.logo-img-border{
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
.logo-img-width{
  width:80%;
  height:80%;
}
/* Popup filter */
.popup-container.active .popup {
  border-radius: 8px;
}
.popup-filter .button-positive{
  background-color:#082045;
  color:#35FFAB;
  border-radius: 5px;
}
.popup-filter .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
  background:#082045;
  border-color:#082045;
  border-radius: 8px;
}
.popup-filter .checkbox input:checked:after, input:checked + .checkbox-icon:after {
  opacity: 1;
  border-color:#35FFAB;
}
/* popup update price */
.popup-update-price .button-positive{
  background-color:#082045;
  color:#35FFAB;
  border-radius: 5px;
}
.popup-update-price .dinheiro{
  border: 2px solid #35FFAB;
  border-radius: 5px;
}
.tab-nav{
  background:none;
  border:0px;
}
.buscar-postos-title {
  color:#35FFAB;
  margin-left:15px;
}
.ion-ios-location {
  color:#35FFAB;
}
.ion-ios-location-outline {
  color:#35FFAB;
}
.ion-ios-list {
  color:#35FFAB;
}
.ion-ios-list-outline {
  color:#35FFAB;
}
.tab-title {
  color:#35FFAB;
}
.gas-station-card{
  border-bottom: 3px solid lightgrey;
  box-shadow: none;
}
.gas-station-icon {
  -webkit-mask-box-image: url(../img/ICONE_06_MAPS.png);
  margin:auto;
  background-color:#35FFAB;
  width:30px;
  height:30px;
}
.filter-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_06_FILTRO.png);
  background-size:contain;
}

.filter-scgas-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_06_FILTRO.png);
  background-size:contain;
}

.sort-scgas-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_MENU_02.png);
  background-size:contain;
}

.update-scgas-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_06_ATUALIZAR.png);
  background-size:contain;
}

.route-scgas-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_06_ROTA.png);
  background-size:contain;
}

.center-scgas-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/ICONE_06_CENTRALIZAR.png);
  background-size:contain;
}

/* gas station details*/
.gas-station-detail-card {
  border-radius: 20px;
  background-color:white;
  width:90%;
  height:140%;
  margin:auto;
  margin-top:50px;
}

.gas-station-update-price{
  background-color:#082045;
  color:#35FFAB;
  border-radius:5px;
  width:100%;
}

.gas-station-go-to{
  background-color:#082045;
  color:#35FFAB;
  border-radius:5px;
  width:50%;
}

.gas-station-navigate-to{
  border: 2px solid #082045;
  color:#082045;
  border-radius:5px;
  width:50%;
}

/* gas station details*/
.calculators-detail-card {
  border-radius: 20px;
  background-color:white;
  width:90%;
  height:110%;
  margin:auto;
  margin-top:50px;
}

.resultado-ri-small {
  font-size: x-small;
}
